
    /* start styling index Page*/

.kol {
    font-size: 60px;
    margin-top: 5px;
    margin-left: 60px;
    color: #e1004e
}

.sol {
    font-size: 55px;
    margin-top: -105px;
    margin-left: 700px;
}

.wol {
    position: relative;
    left: 0px;
    bottom: 0px;
    margin-top: -30px;
    margin-left: 60px;
    width: 1400px;
    height: 650px;
}

.eol{
    
    background-color: #ffcbe0;
    width: 1510px;
    height: 450px;
    margin-top: 100px;
    margin-left: 0px;

}

.qol {
    font-size: 45px;
    margin-top: -85px;
    text-align: center;
    color: #e1004e;
}

.card {
    background-color:white;
    width:20%;
    height: 315px;
    margin-left:20px;
    margin-top:5px;
    border:2px solid #dbdbdb;
    border-radius: 2px;
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery, .gallery img {
    width:100%;
    height:100%;

}

.yol {
    width:100%;
    height:100%;
    text-align: center;    
}

    /* end styling index Page*/

    /* start styling About Page*/


.vard {
    background-color:white;
    width:20%;
    height: 315px;
    margin-left: 404px;
    margin-top: -317px;
    border:2px solid #dbdbdb;
    border-radius: 2px;
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bard {
    background-color:white;
    width:20%;
    height: 315px;
    margin-left: 788px;
    margin-top: -318px;
    border:2px solid #dbdbdb;
    border-radius: 2px;
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nard {
    background-color:white;
    width:20%;
    height: 315px;
    margin-left: 1171px;
    margin-top: -318px;
    border:2px solid #dbdbdb;
    border-radius: 2px;
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ool{
    background-color: #ffcbe0;
    width: 1521px;
    height: 650px;
    margin-top: -35px;
    margin-left: -10px;
}

.iol {
        position: relative;
        left: 0px;
        bottom: 0px;
        margin-top: 0px;
        margin-left: 240px;
        text-align: center;
        width: 1000px;
        height: 650px;
}

.pol{
    
    background-color: white;
    width: 1510px;
    height: 450px;
    margin-top: 100px;
    margin-left: 0px;

}

.pard {
    background-color: white;
    width: 30%;
    height: 400px;
    margin-left: 20px;
    margin-top: 5px;
    border:2px solid #dbdbdb;
    border-radius: 2px;
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lard {
    background-color: white;
    width: 30%;
    height: 400px;
    margin-left: 525px;
    margin-top: -403px;
    border:2px solid #dbdbdb;
    border-radius: 2px;
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mard {
    background-color: white;
    width: 30%;
    height: 400px;
    margin-left: 1032px;
    margin-top: -405px;
    border:2px solid #dbdbdb;
    border-radius: 2px;
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    /* end styling index Page*/

    /* start styling contact Page*/

.aol{
    
    background-color: #ffcbe0;
    width: 101%;
    height: 100%;
    margin-left: -8px;
    margin-top: -8px;

}

.dol{
    width: 1200px;
    height: 550px;
    margin-top: -34px;
    margin-left: 153px;
}

.input-textarea {
    width: 990px;
    height: 155px;
    margin-top: -100px;
    margin-left: 250px;
}

#input-submit {
    margin-bottom: 10px;
    width: 75px;
    height: 35px;
    background-color: white;
    cursor: pointer;
    color: black;
    font-size: 17px;
    margin-left: 250px;
    margin-top: -10px;
} 

.fol{
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;   
    text-align: center;
}

.lward {
    background-color: white;
    width: 5%;
    height: 50px;
    margin-left: 600px;
    margin-top: -18px;
    border:2px solid #dbdbdb;
    border-radius: 2px;
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leard {
    background-color: white;
    width: 5%;
    height: 50px;
    margin-left: 700px;
    margin-top: -54px;
    border:2px solid #dbdbdb;
    border-radius: 2px;
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lqard {
    background-color: white;
    width: 5%;
    height: 50px;
    margin-left: 800px;
    margin-top: -54px;
    border:2px solid #dbdbdb;
    border-radius: 2px;
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    /* end styling index Page*/

